.body_background 
{
background-image: url("https://www.newstatesman.com/sites/default/files/styles/cropped_article_image/public/blogs_2015/04/avengers_age_of_ultron_2015_movie-wide.jpg?itok=AfpdPfYV");
background-position: center;
background-size: cover;
}
#myCanvas
{
border-width:10px;
background-color: white; 
border-style:ridge;
}

h2
{
border-radius: 10px;
width: 200px;
padding: 5px;
 }
h3
{
display: inline-block;
}
span
{
color: black;	
}
a{
text-decoration: none;
font-size: 20px;
padding: 10px;
float: left;
border-radius: 10px;
}
#head_info{
width: 600px;
border-radius: 10px;
margin-bottom: 10px;
}
